.App {
  text-align: center;
  /* border: 1px solid red; */
}

.App h1 {
  font-family: 'Raleway' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;
  color: #333333;
}
